<div class="analytics-container">
  <div class="analytics-container-inner">
    <h3 class="heading">Cluster visualization</h3>
  </div>
  <div class="description container">
    <p class="text">
      Our model shows how the number of infected people evolves in time. To give you an example, we considered the infection spread in a
      small town of 300 people composed of three communities of 100 people each. The first community is very social, so more people meet
      each other everyday than in the other two communities. The model starts the day 10% of the people get sick with the virus. Let's see
      what happens!
    </p>
    <p class="text">
      Each line shows how the percentage of sick people changes over days for each of the communities during a period of hundred days. We
      see that even for equally sized populations, the virus spread more in the most social community. Thus, our model provides an intuitive
      understanding, that the number of social contacts rather than the size of the community is determinant is the spread.
    </p>
    <p class="text">
      <i>Stay tuned for more elaborated predictions!</i>
    </p>
  </div>
  <div class="visualization-container">
    <app-directed-graph></app-directed-graph>
  </div>
</div>
