<div class="safty-container">
  <div class="safty-container-inner">
    <div class="container">
      <mat-card>
        <h4 class="heading">
          Protect others from getting sick
        </h4>
        <br />
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;Avoid close contact when you are experiencing cough and fever.</p>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;Avoid spitting in public</p>
        <p>
          <i-feather name="chevrons-right"></i-feather>&nbsp;If you have a fever, cough and difficulty breathing seek medical care early and
          share previous travel history with your health care provider
        </p>
        <p>
          <i-feather name="chevrons-right"></i-feather>&nbsp;When coughing and sneezing cover mouth and nose with flexed elbow or tissue
        </p>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;Throw tissue into the closed bin immediately after use</p>
        <p>
          <i-feather name="chevrons-right"></i-feather>&nbsp;Clean hands with alcohol-based hand rub or soap and water after coughing or
          sneezing and when caring for the sick
        </p>
        <h5 style="padding: 1em 0;color:var(--primary)">Wash your hands</h5>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;After coughing or sneezing</p>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;Ahen caring for the sick</p>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;Before, during and after you prepare food</p>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;Before eating</p>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;After toilet use</p>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;When hands are visibly dirty</p>
        <p><i-feather name="chevrons-right"></i-feather>&nbsp;After handling animals World Health or animal waste</p>
      </mat-card>
    </div>
  </div>
</div>
