<div class="home-container">
  <section id="section-1">
    <div class="section-1-container">
      <div class="section-1-container-inner">
        <div class="content-container container">
          <div class="row">
            <div class="col-md-6 desc">
              <div class="description">
                <p><strong> Hi! Welcome to NightinGale</strong>, where complex information is made simple and beautiful!</p>
                <p>
                  Here you can find data visualizations from the studies our group has made using an agent-based model and a link for our
                  <a routerLink="/mobile"><label class="ripple">mobile app</label></a
                  >.
                </p>
                <p>This project started on the <strong style="white-space: nowrap;">#CODE VS COVID-19</strong> hackathon in march 2020..</p>
                <p><i>Please be informed, be safe and let's get through this together.</i></p>
              </div>
            </div>
            <div class="col-md-6 lg">
              <div class="logo">
                <img src="../../../assets/img/nightingale.svg" class="img-resp" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="curve"></div>
      </div>
    </div>
  </section>
  <section id="section-2">
    <div class="section-2-container">
      <div class="section-2-container-inner">
        <div class="content-container">
          <div class="content-container-inner">
            <div class="description">
              <div class="heading">
                Why "NightinGale"?
              </div>
              <div class="desc">
                <p>
                  <i>"It was the nightingale and not the lark"</i> – in Shakespeare’s Romeo and Juliet the nightingale plays an important
                  role. With its powerful and beautiful singing messages are spread. <strong><i>That’s what we do!</i></strong>
                </p>
                <p>
                  <strong>But do you know Florence Nighingale, the patron of our idea?</strong>
                </p>
                <p>
                  She was a British nurse in the 19th century - Known as “the Lady with the lamp”. She revolutionized the organization of
                  the nursing care. The nurse profession gained great prestige through her tireless commitment.
                </p>
                <p>
                  <strong><i>That sounds familiar to our situation these days, doesn’t it?</i></strong>
                </p>
                <p>
                  As if that were not enough, she brought her passion for mathematics, and statistics in particular, into the field of
                  health care and carried out analyses, for instance, with regard to hygienic conditions.
                </p>
                <p>
                  <i>As the pioneer of data visualization Florence Nightingale is the perfect patron for our idea!</i>
                </p>
              </div>
            </div>
            <div class="video">
              <div class="emberded">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe
                    class="embed-responsive-item"
                    src="https://www.youtube.com/embed/yHEw3W-y714"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                  <!-- <iframe
                    class="embed-responsive-item"
                    src="https://www.youtube.com/embed/DOqzW5qALCQ"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-3">
    <div class="section-3-container">
      <div class="section-3-container-inner">
        <div class="content-container">
          <div class="content-container-inner">
            <div class="heading">
              COVID-19 Tracker
            </div>
            <div class="tracking-card-container">
              <div class="container">
                <div class="form-container">
                  <div class="form">
                    <form [formGroup]="filterFormController">
                      <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <mat-select formControlName="filter" (selectionChange)="selectionChanged($event)">
                          <mat-option *ngFor="let country of countryList.asObservable() | async" [value]="country.Slug">
                            {{ country.Country ? country.Country : 'Global result' }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <div class="card-container">
                      <mat-card>
                        <div class="label">New Cases</div>
                        <div class="value">{{ formateNumbers(newCases.asObservable() | async) }}</div>
                      </mat-card>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="card-container">
                      <mat-card>
                        <div class="label">Total Cases</div>
                        <div class="value">{{ formateNumbers(totalCases.asObservable() | async) }}</div>
                      </mat-card>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="card-container">
                      <mat-card>
                        <div class="label">Total Deaths</div>
                        <div class="value">{{ formateNumbers(totalDeaths.asObservable() | async) }}</div>
                      </mat-card>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="card-container">
                      <mat-card>
                        <div class="label">Total Recovered</div>
                        <div class="value">{{ formateNumbers(totalRecovered.asObservable() | async) }}</div>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="curve"></div>
    </div>
  </section>
  <section>
    <!-- <app-line-chart></app-line-chart> -->
    <br><br>
  </section>
</div>
