<div class="home-container">
  <section id="section-1">
    <div class="section-1-container">
      <div class="section-1-container-inner">
        <div class="content-container">
          <div class="logo">
            <img src="../../../assets/img/nightingale.svg" class="img-resp" alt="" />
          </div>
          <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, corporis.</div>
        </div>
        <div class="curve"></div>
      </div>
    </div>
  </section>
  <section id="section-2">
    <div class="section-2-container">
      <div class="section-2-container-inner">
        <div class="content-container">
          <div class="content-container-inner">
            <div class="description">
              <div class="heading">
                What is "NightinGale"?
              </div>
              <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ea id dolores exercitationem quo hic modi quisquam nisi
                doloremque sit?
              </div>
            </div>
            <div class="video">
              <div class="emberded">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe
                    class="embed-responsive-item"
                    src="https://www.youtube.com/embed/DOqzW5qALCQ"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-3">
    <div class="section-3-container">
      <div class="section-3-container-inner">
        <div class="content-container">
          <div class="content-container-inner">
            <div class="heading">
              COVID-19 Tracker
            </div>
            <div class="tracking-card-container">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <div class="card-container">
                      <mat-card>
                        <div class="label">New Cases</div>
                        <div class="value">64,501</div>
                      </mat-card>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="card-container">
                      <mat-card>
                        <div class="label">Total Cases</div>
                        <div class="value">620,723</div>
                      </mat-card>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="card-container">
                      <mat-card>
                        <div class="label">Total Deaths</div>
                        <div class="value">28,650</div>
                      </mat-card>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="card-container">
                      <mat-card>
                        <div class="label">Total Recovered</div>
                        <div class="value">137,348</div>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="curve"></div>
    </div>
  </section>
</div>
