<div class="mobile-container">
  <div class="section-1">
    <div class="section-1-inner">
      <h4 class="text">
        Come learn more about the scenario of the COVID-19 in your world with easy click and watch beautiful animated graphs regarding your
        country or many the whole world.
      </h4>
      <h4 class="text">
        You can also take quizzes to see how well prepared you are to face this situation.
      </h4>
    </div>
  </div>
  <div class="mobile-app-photoes">
    <div class="mobile-app-photoes-inner container">
      <div class="row">
        <div class="col-md-3">
          <mat-card>
            <img src="../../../assets/img/mobile-app/s1.jpg" class="img-resp" alt="" />
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <img src="../../../assets/img/mobile-app/s2.jpg" class="img-resp" alt="" />
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <img src="../../../assets/img/mobile-app/s3.jpg" class="img-resp" alt="" />
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card>
            <img src="../../../assets/img/mobile-app/s4.jpg" class="img-resp" alt="" />
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="desc">
      Explore more from nightingale using our mobile app. Keep all the datasets in your pocket. With graphical illustrations of cluster
      graphs, this will be a whole new experience. <i>Try it now!</i>
    </p>
  </div>
</div>
